@font-face {
  font-family: 'Hitmarker Text VF';
  src: url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-VF.woff2') format('woff2'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-VF.woff') format('woff'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-VF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker VF';
  src: url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/Hitmarker-VF.woff2') format('woff2'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/Hitmarker-VF.woff') format('woff'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/Hitmarker-VF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Hitmarker Text Regular';
  src: url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Regular.woff2') format('woff2'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Regular.woff') format('woff'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Text Italic';
  src: url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Italic.woff2') format('woff2'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Italic.woff') format('woff'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Hitmarker Text Medium';
  src: url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Medium.woff2') format('woff2'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Medium.woff') format('woff'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Text Bold';
  src: url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Bold.woff2') format('woff2'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Bold.woff') format('woff'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Condensed Regular';
  src: url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Regular.woff2') format('woff2'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Regular.woff') format('woff'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Condensed Light';
  src: url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Light.woff2') format('woff2'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Light.woff') format('woff'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Condensed Medium';
  src: url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Medium.woff2') format('woff2'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Medium.woff') format('woff'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Condensed Bold';
  src: url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Bold.woff2') format('woff2'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Bold.woff') format('woff'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Condensed Black';
  src: url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Black.woff2') format('woff2'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Black.woff') format('woff'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerCondensed-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Normal Regular';
  src: url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Regular.woff2') format('woff2'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Regular.woff') format('woff'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Normal Light';
  src: url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Light.woff2') format('woff2'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Light.woff') format('woff'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Normal Medium';
  src: url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Medium.woff2') format('woff2'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Medium.woff') format('woff'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Normal Bold';
  src: url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Bold.woff2') format('woff2'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Bold.woff') format('woff'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Normal Black';
  src: url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Black.woff2') format('woff2'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Black.woff') format('woff'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerNormal-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Wide Regular';
  src: url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Regular.woff2') format('woff2'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Regular.woff') format('woff'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Wide Light';
  src: url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Light.woff2') format('woff2'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Light.woff') format('woff'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Wide Medium';
  src: url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Medium.woff2') format('woff2'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Medium.woff') format('woff'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Wide Bold';
  src: url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Bold.woff2') format('woff2'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Bold.woff') format('woff'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Hitmarker Wide Black';
  src: url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Black.woff2') format('woff2'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Black.woff') format('woff'), url('https://www.callofduty.com/apps/atvi/callofduty/global/clientlibs/clientlib-site/resources/fonts/Hitmarker/HitmarkerWide-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
