<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Match</title>
  <link rel="stylesheet" href="assets/main.css">
  <style>
    html {zoom: 0.45;}
  </style>
</head>
<body>

<div class="flex-center main-container" style="background-image: url(../../../public/maps/mp_jup_dubai.jpg);">
  <div class="main-wrapper flex-column">
    <div class="border-fx"></div>
    <div class="header flex">
      <div class="part left flex-column">
        <h2>Scrapyard</h2>
        <span class="mode">Recherche et destruction Hardcore</span>
      </div>
      <div class="part right flex-column">
        <span class="date">20 mai 2024 à 20:54</span>
        <span class="duration">10 minutes et 42 secondes</span>
      </div>
    </div>
    <div class="leaderboard flex-column gap-20">
      <div class="team team-axis flex align-center gap-20 win">
        <h1 class="team-score">6</h1>
        <table>
          <thead>
          <tr>
            <th class="player"></th>
            <th class="score">Score</th>
            <th class="kills">Kills</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="player">Player 1</td>
            <td class="score">1000</td>
            <td class="kills">10</td>
          </tr>
          <tr class="tracked">
            <td class="player">Player 2</td>
            <td class="score">900</td>
            <td class="kills">9</td>
          </tr>
          <tr>
            <td class="player">Player 3</td>
            <td class="score">800</td>
            <td class="kills">8</td>
          </tr>
          <tr>
            <td class="player">Player 4</td>
            <td class="score">700</td>
            <td class="kills">7</td>
          </tr>
          <tr>
            <td class="player">Player 5</td>
            <td class="score">600</td>
            <td class="kills">6</td>
          </tr>
          <tr>
            <td class="player">Player 6</td>
            <td class="score">500</td>
            <td class="kills">5</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="team team-alliance flex align-center gap-20">
        <h1 class="team-score">0</h1>
        <table>
          <tbody>
          <tr>
            <td class="player">Player 1</td>
            <td class="score">1000</td>
            <td class="kills">10</td>
          </tr>
          <tr>
            <td class="player">Player 2</td>
            <td class="score">900</td>
            <td class="kills">9</td>
          </tr>
          <tr>
            <td class="player">Player 3</td>
            <td class="score">800</td>
            <td class="kills">8</td>
          </tr>
          <tr>
            <td class="player">Player 4</td>
            <td class="score">700</td>
            <td class="kills">7</td>
          </tr>
          <tr>
            <td class="player">Player 5</td>
            <td class="score">600</td>
            <td class="kills">6</td>
          </tr>
          <tr>
            <td class="player">Player 6</td>
            <td class="score">500</td>
            <td class="kills">5</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

</body>
</html>
