<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stats</title>
  <link rel="stylesheet" href="assets/stats.css">
  <style>
    html {zoom: 0.45;}
  </style>
</head>
<body>
<div class="main-container flex-center">
  <div class="main-ring-wrapper">
    <div class="outter-ring">
      <div class="inner-ring"></div>
    </div>
  </div>
</div>
</body>
</html>
