<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stats</title>
  <link rel="stylesheet" href="assets/stats.css">
  <style>
    html {zoom: 0.45;}
  </style>
</head>
<body>
<div class="main-container flex-center flex-wrap gap-20">
  <div class="main-ring-wrapper">
    <div class="outer-ring"></div>
    <div class="inner-ring"></div>
    <div class="container-ring flex-column flex-center gap-30">
      <div class="ratio-wl flex-center flex-column">
        <span class="label">W/L :</span><span class="val ratio-wl-value">3.82</span>
      </div>
      <div class="ratio-kd flex-center flex-column">
        <span class="label">K/D :</span><span class="val ratio-kd-value">1.82</span>
      </div>
    </div>
  </div>

  <div class="blocks-wrapper">
    <div class="block top-middle flex-center">
      <h1 class="name">Anym#3245353</h1>
    </div>
    <div class="block middle left flex-column gap-10">
      <span class="label">Tous les mods</span>
      <span class="kills"><b>12540</b> kills</span>
      <span class="deaths"><b>3650</b> deaths</span>
      <span class="assists"><b>1250</b> assists</span>
      <span class="accuracy"><b>12%</b> précision</span>
      <span class="avg-kill">~<b>7.25</b> kills/game</span>
      <span class="played"><b>1250</b> parties jouées</span>
      <span class="played-time"><b>125</b> heures de jeu</span>
    </div>
    <div class="block middle right flex-column align-end gap-10">
      <span class="label">R&D Hardcore</span>
      <span class="kills"><b>12540</b> kills</span>
      <span class="deaths"><b>3650</b> deaths</span>
      <span class="assists"><b>1250</b> assists</span>
      <span class="accuracy"><b>12%</b> précision</span>
      <span class="avg-kill">~<b>7.25</b> kills/game</span>
      <span class="played"><b>1250</b> parties jouées</span>
      <span class="played-time"><b>125</b> heures de jeu</span>
    </div>
  </div>
</div>
</body>
</html>
