<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stats</title>
  <link rel="stylesheet" href="assets/stats.css">
  <style>
    html {zoom: 0.45;}
  </style>
</head>
<body>
<div class="main-container flex-center flex-wrap gap-20">
  <div class="main-ring-wrapper">
    <div class="outer-ring"></div>
    <div class="inner-ring"></div>
    <div class="container-ring flex-column flex-center gap-30">
      <div class="ratio-wl flex-center flex-column">
        <span class="label">R&D HC Ratio W/L :</span><span class="val ratio-wl-value">3.82</span>
      </div>
      <div class="ratio-kd flex-center flex-column">
        <span class="label">R&D HC Ratio K/D :</span><span class="val ratio-kd-value">1.82</span>
      </div>
    </div>
  </div>

  <div class="blocks-wrapper flex flex-wrap">
    <div class="block top-middle flex-center">
      <h1 class="name">Anym</h1>
    </div>
    <div class="block top-left"></div>
    <div class="block top-right"></div>
    <div class="block middle-left flex-column">
      <span class="kills">12540 kills</span>
    </div>
    <div class="block middle-right flex-column align-end">
      <span class="deaths">3650 deaths</span>
    </div>
    <div class="block bottom-left"></div>
    <div class="block bottom-right"></div>
  </div>
</div>
</body>
</html>
